body{
    background-image: url("../img/fundo-1.jpg");
    background-size: cover;
    justify-content: center;
}

.conteiner{
    background-color: #f8ccc8;
    color: saddlebrown;
    text-align: left;
    background-color: transparent;
    width: 350px;
    height: 300px;
    margin: auto;
    border: 3px saddlebrown;
    margin-top: 6%;
    margin-left: 60%;
    padding: 2%;
}