<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/page.css">
    <title>Library</title>
</head>
<body>
 <div class="conteiner">
     <div>
         <h1>Library</h1>
         <h2>Login</h2>
     </div>
     <div class="form-control">
         <input th:type="value" required>
         <label>
             <span style="transition-delay: 8ms">U</span>
             <span style="transition-delay: 50ms">S</span>
             <span style="transition-delay: 100ms">E</span>
             <span style="transition-delay: 150ms">R</span>
             <span style="transition-delay: 200ms">N</span>
             <span style="transition-delay: 250ms">A</span>
             <span style="transition-delay: 300ms">M</span>
             <span style="transition-delay: 350ms">E</span>
         </label>
     </div>
     <div class="form-control">
         <input th:type="value" required>
         <label>
             <span style="transition-delay: 8ms">P</span>
             <span style="transition-delay: 50ms">A</span>
             <span style="transition-delay: 100ms">S</span>
             <span style="transition-delay: 150ms">S</span>
             <span style="transition-delay: 200ms">W</span>
             <span style="transition-delay: 250ms">O</span>
             <span style="transition-delay: 300ms">R</span>
             <span style="transition-delay: 350ms">D</span>
         </label>
     </div>
 </div>
 <br>
</body>
</html>